Agen_AI_Chatbot_Web.json
{
  "name": "Agen AI Chatbot Web",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu adalah chatbot AI dari NF Academy yang bertugas menjawab pertanyaan tentang kursus komputer dan pelatihan digital. Berikan informasi yang jelas, ramah, dan membantu pengguna dalam memilih pelatihan komputer yang sesuai dengan kebutuhan mereka."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "046df662-0a27-465f-b565-2a297f3d42b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "7cdfd454-e387-4e34-9095-f5229dada2ea",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FgYF5Hy8soUCcBtw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "8988e998-e305-4afd-a423-cfd2d0fbc3de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ne9M2eAMSR7JYb6QXcgxlaLw85JzRO_l0qcLDURL4GE",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ne9M2eAMSR7JYb6QXcgxlaLw85JzRO_l0qcLDURL4GE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ne9M2eAMSR7JYb6QXcgxlaLw85JzRO_l0qcLDURL4GE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        192
      ],
      "id": "1af4bbff-0b6f-439f-9491-f89b1e27042f",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jf4qiobXgIne7QZ4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        0
      ],
      "id": "492f36bb-c097-4937-8cc0-2cd68d5f6b92",
      "name": "When chat message received",
      "webhookId": "1382fbd8-ccc4-44e5-a367-fa0437ef9c74"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8b53cf5b-6c4b-4428-a51c-6416dd0e4bd4",
  "meta": {
    "instanceId": "ddfcc211d352adef7fadc5a721f96c661cba91d8923d68585a5ebde539e1ae52"
  },
  "id": "v30vKBBRPFgrQqRb",
  "tags": []
}